*{
    padding: 0;
    margin: 0;
}


.main-content.hide{
    height: 100vh;
    width: 100vw;
  
    

    // background-color: rgb(148, 144, 144);
    background-color: whitesmoke;
    display: grid;

    grid-template-rows: 50px 1fr;
    grid-template-columns: 50px 1fr;

    .box-container{
        grid-row: 2/3;
        grid-column: 2/3;

       
        display: grid;
        place-items: center;

        .box{
            height: 200px;
            width: 200px;
            background-color: rgb(251, 71, 6);
        }
     

       
      
        
    }




   
 
 
}

.main-content.show{
    height: 100vh;
    width: 100vw;
  
    

    // background-color: rgb(148, 144, 144);
    background-color: whitesmoke;
    display: grid;

    grid-template-rows: 50px 1fr;
    grid-template-columns: 300px 1fr;

    .box-container{
        grid-row: 2/3;
        grid-column: 2/3;

       
        display: grid;
        place-items: center;

        .box{
            height: 200px;
            width: 200px;
            background-color: red;
        }
     

       
      
        
    }




   
 
 
}

.header-main{
    position: fixed;

    height: 50px;
    width: 100vw;
    background-color: black;

    display: grid;
    grid-template-columns: 300px auto 1fr auto 10px;

    .logo-container{
        grid-column: 1/2;
        display: grid;
        grid-auto-flow: column;
        place-items: center;

        i{
            font-size: 25px;
           color: whitesmoke;
           font-weight: 900px;
           font-style: normal;

           span{
            color: orangered;
          
           }
        }
    }

    .icon-container{
        grid-column: 3/4;
        display: grid;
        align-items: center;

        i{  
            color: orangered;
            cursor: pointer;
            font-size: 30px;
        }

        i:hover{
            color: whitesmoke;
        }
      
    }

    .logout-container{
        grid-column: 4/5;
        display: grid;
        align-items: center;
        justify-content: end;

        a{  
            font-style: normal;
            font-size: 20px;
            font-weight: 900;
            color: orangered;
            font-style: normal;
            text-decoration: none;

            text-shadow: -2px -2px 2px rgba(0, 0, 0, 0.5),
            2px -2px 2px rgba(0, 0, 0, 0.5),
            -2px 2px 2px rgba(0, 0, 0, 0.5),
            2px 2px 2px rgba(0, 0, 0, 0.5);
        }

        a:hover{
          
            color: rgb(222, 99, 55);


        }

    }



}

.sidebar-main{
    top: 50px;
    position: fixed;

    height: 100vh;
    width: 300px;
    background-color: rgb(45, 44, 44);

    display: grid;
    grid-template-rows: 2px 200px 20px auto ;
    transition: width 0.3s ease;

    // left: -300px;
  

    .image-container{
        grid-row: 2/3;
        display: grid;
        align-items: end;
        justify-items: center;
        

        img{
            height: 160px;
            width: 160px;
            

            border-radius: 100px;
        }
        
    }

    .user-info{
       grid-row: 3/4;
       display: grid;
       justify-items: center;

        i{
            color: rgb(214, 205, 205);
            font-size: 20px;
            font-weight: 900;
            font-style: normal;

            text-shadow: -2px -2px 2px rgba(0, 0, 0, 0.5),
            2px -2px 2px rgba(0, 0, 0, 0.5),
            -2px 2px 2px rgba(0, 0, 0, 0.5),
            2px 2px 2px rgba(0, 0, 0, 0.5);
        }
    }

    .menu-container{
       
        grid-row: 4/5;

        display: grid;
        grid-auto-rows: 50px;
       

       
        padding: 40px 10px 0 10px ;
        row-gap: 10px;

        

      
         

            


            a{  

                display: grid;
                align-items: center;
               
                
                grid-template-columns: 40px 1fr;

             
                // border: 1px solid whitesmoke;
                background-color: rgb(36, 35, 35);
    
                
               color: white;
                text-decoration: none;
                font-size: 20px;
          
                font-weight: 900;
                text-transform: uppercase;

                text-shadow: -2px -2px 2px rgba(0, 0, 0, 0.5),
                2px -2px 2px rgba(0, 0, 0, 0.5),
                -2px 2px 2px rgba(0, 0, 0, 0.5),
                2px 2px 2px rgba(0, 0, 0, 0.5);


                i{  
                  
                    display: grid;
                    grid-column: 1/2;
                    place-items: center;
                   
                    font-size: 25px;
                    color: orangered;
                    
    
                }
                span{
                    grid-column: 2/3;
                    padding-left: 20px;

                   
                }

              
            }
        }

        a:hover{
            transition: 0.3s ease;
            background-color: rgb(119, 115, 115);

            span:hover{
                color: rgb(255, 234, 234);
            }

        }

        

    }



.sidebar-main.hide{
   
    transition: width 0.3s ease;
    width: 65px;
    height: 100vh;
   

    .image-container{
        display: none;
    }
    .user-info{
        display: none;
    }

    span{
        display: none;
       
    }
    

}

